{% extends "layouts/tabbed-page.njk" %}

{% from "icons/block-icon/macro.njk" import appBlockIcon %}
{% from "icons/instance-icon/macro.njk" import appInstanceIcon %}
{% from "icons/schema-icon/macro.njk" import appSchemaIcon %}
{% from "icons/warning-icon/macro.njk" import appWarningIcon %}
{% from "summary/macro.njk" import appSummary %}
{% from "summary/summary-item/macro.njk" import appSummaryItem %}
{% from "tag/macro.njk" import appTag %}
{% from "time/macro.njk" import appTime %}

{% from "services/common/components/vanity-url/macro.njk" import appVanityUrl %}

{% set latestPublishedTableRows = [] %}
{% for version in latestPublishedImageVersions %}
  {% set versionLinkHtml %}
    <a class="app-link"
       href="https://github.com/DEFRA/{{ service.serviceName }}/releases/tag/{{ version.tag }}"
       target="_blank" rel="noopener noreferrer">{{ version.tag }}</a>
  {% endset %}

  {% set deployButtonHtml %}
    <a href="{{ routeLookup('deploy-service/details/{multiStepFormId?}', {
      query: { imageName: service.serviceName, version: version.tag }
    }) }}"
       role="button"
       class="govuk-button app-button app-button--primary app-button--small"
       data-testid="deploy-button-{{ version.tag }}">Deploy</a>
  {% endset %}

  {% set detailHtml %}
    <div class="app-flex-center">
      {{ appInstanceIcon({ classes: "app-icon--small", description: "Published Image " + version.tag }) }}
      {{ appTime({ datetime: version.created, classes: "govuk-!-margin-left-2" }) }}
    </div>
  {% endset %}

  {% if isAdmin or isServiceOwner %}
    {{ latestPublishedTableRows.push([
      { html: detailHtml },
      { html: versionLinkHtml },
      { html: deployButtonHtml, classes: "govuk-table__header--numeric" }
    ]) }}
  {% else %}
    {{ latestPublishedTableRows.push([
      { html: detailHtml },
      { html: versionLinkHtml },
      { html: "" }
    ]) }}
  {% endif %}
{% endfor %}

{% set migrationsTableRows = [] %}
{% for migration in availableMigrations %}
  {% set migrationButtonHtml %}
    <a href="{{ routeLookup('apply-changelog/change-details/{multiStepFormId?}', {
      query: { serviceName: service.serviceName, version: migration.version }
    }) }}"
       role="button"
       class="govuk-button app-button app-button--small"
       data-testid="apply-button-{{ migration.version }}">Apply</a>
  {% endset %}

  {% set detailHtml %}
    <div class="app-flex-center">
      {{ appSchemaIcon({ classes: "app-icon--small", description: "Database Change " + migration.version }) }}
      {{ appTime({ datetime: migration.created, classes: "govuk-!-margin-left-2" }) }}
    </div>
  {% endset %}

  {% set changelogVersionLinkHtml %}
    <a class="app-link"
       href="https://github.com/DEFRA/{{ service.serviceName }}/releases/tag/{{ migration.version }}"
       target="_blank" rel="noopener noreferrer">{{ migration.version }}</a>
  {% endset %}

  {% set kind %}
    {{ appTag({ text: migration.kind | title, classes: "govuk-tag--blue" }) }}
  {% endset %}

  {% if hasPostgresPermission and (isAdmin or isServiceOwner) %}
    {{ migrationsTableRows.push([
      { html: detailHtml },
      { html: changelogVersionLinkHtml },
      { html: kind },
      { html: migrationButtonHtml, classes: "app-!-text-align-right" }
    ]) }}
  {% else %}
    {{ migrationsTableRows.push([
      { html: detailHtml },
      { html: changelogVersionLinkHtml },
      { html: kind}
    ]) }}
  {% endif %}
{% endfor %}

{% block beforeTabContent %}
  {{ appPageHeading({
    caption: "Service",
    text: service.serviceName
  }) }}

  {% include "partials/entity/messages.njk" %}
{% endblock %}

{% block tabContent %}

  {% set gridClasses = ["app-grid app-grid-service", "app-grid-service--postgres" if service.isPostgres else
  "app-grid-service--standard"] | join(" ") | trim %}
  <div class="app-service-container govuk-!-margin-top-6">
    <article class="{{ gridClasses }}">
      <section class="app-grid-service__details">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-2">About</h2>
        <p class="govuk-!-margin-bottom-2">
          {{ service.description }}
        </p>

        {{ govukSummaryList(summaryList) }}
      </section>

      <section class="app-grid-service__published" data-testid="published-images">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Published Images</h2>
        <p class="govuk-!-margin-bottom-2">
          Latest available CDP built and published docker images, via
          <a class="app-link" target="_blank" rel="noopener noreferrer"
             href="https://github.com/DEFRA/{{ service.serviceName }}/actions">GitHub Actions</a>
        </p>

        {% if latestPublishedTableRows | length %}
          {{ govukTable({
            classes: "app-table app-table--inverse govuk-!-margin-bottom-4",
            head: [
              { text: "Published" },
              { text: "Version" },
              { text: "Action",
                classes: "govuk-!-width-one-quarter app-!-text-align-right"
              } if isServiceOwner],
            rows: latestPublishedTableRows
          }) }}

          <p class="govuk-!-margin-bottom-0">
            <a class="app-link" target="_blank" rel="noopener noreferrer"
               href="https://github.com/DEFRA/{{ service.serviceName }}/tags">
              more versions
            </a>
          </p>

        {% else %}
          <p class="govuk-!-margin-bottom-2">
            No published versions available.
          </p>
        {% endif %}
      </section>

      {% if service.isPostgres %}
        <section class="app-grid-service__migrations" data-testid="database-changes">
          <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Database Changelogs</h2>
          <p class="govuk-!-margin-bottom-2">
            Latest database changelogs available for this microservice. For more information view
            <a class="app-link"
               href="{{ routeLookup('deployments/{environment}', {
                 query: { service : service.serviceName },
                 params: { environment : "infra-dev" if isAdmin else "dev"}
               }) }}">Deployments and Updates</a>
          </p>

          {% set headings = [
            { text: "Created" },
            { text: "Version" },
            { text: "Type" },
            {
              text: "Action",
              classes: "govuk-!-width-one-quarter app-!-text-align-right"
            } if hasPostgresPermission and (isAdmin or isServiceOwner) ] %}

          {% if migrationsTableRows | length %}
            {{ govukTable({
              classes: "app-table app-table--inverse govuk-!-margin-bottom-4",
              head: headings,
              rows: migrationsTableRows
            }) }}

          {% else %}
            <p class="govuk-!-margin-bottom-2">
              No changes available.
            </p>
          {% endif %}
        </section>

        <section class="app-grid-service__database-details" data-testid="database-details">
          <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Database Details</h2>
          <p class="govuk-!-margin-bottom-2">
            Current database details across CDP environments. For more information view
            <a class="app-link" href="/running-services/{{ service.serviceName }}">Running services</a>
          </p>

          {{ appDatabaseDetail({
            serviceName: service.serviceName,
            databaseDetails: latestMigrations,
            environments: availableServiceEnvironments
          }) }}
        </section>
      {% endif %}

      <section class="app-grid-service__run">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Running Services</h2>
        <p class="govuk-!-margin-bottom-2">
          The versions of this microservice currently running on CDP environments. For more information view
          <a class="app-link" href="/running-services/{{ service.serviceName }}">Running services</a>
        </p>

        {{ appRunningService({
          runningServices: runningServices,
          environments: availableServiceEnvironments
        }) }}
      </section>

      <section class="app-grid-service__info">
        <section>
          <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Deployments</h2>
          <p class="govuk-!-margin-bottom-6">
            To view microservice deployments across all available environments go to
            <a class="app-link"
               href="{{ routeLookup('deployments/{environment}', {
                 query: { service : service.serviceName },
                 params: { environment : "infra-dev" if isAdmin else "dev"}
               }) }}">Deployments</a>
          </p>
        </section>

        <section>
          <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Configuration</h2>
          <p class="govuk-!-margin-bottom-6">
            Manage microservice configuration and set environment variables across CDP environments. For more
            information see our <a class="app-link" href="/documentation/how-to/config.md">documentation for service
              config</a>.
            To view this microservices configuration go to
            <a class="app-link"
               href="https://github.com/DEFRA/cdp-app-config/tree/main/services/{{ service.serviceName }}"
               target="_blank"
               rel="noopener noreferrer">https://github.com/DEFRA/cdp-app-config/{{ service.serviceName }}</a>
          </p>
        </section>

        <section>
          <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Continuous Integration</h2>
          <p class="govuk-!-margin-bottom-0">
            Test, build and publish ready-to-deploy docker images of this microservice with CI and GitHub
            Actions workflows. This microservice is built and published by GitHub Actions and comes with a number of
            useful CDP Workflows. To view these workflows and builds go to
            <a class="app-link" target="_blank" rel="noopener noreferrer"
               href="https://github.com/DEFRA/{{ service.serviceName }}/actions">
              https://github.com/DEFRA/{{ service.serviceName }}/actions</a>
          </p>
        </section>
      </section>
    </article>

    <aside class="app-service-container__sidebar">
      <section class="app-grid-service__links">

        {% if vanityUrls | length %}
          {% set urlText = "URL" | pluralise(vanityUrls | length) %}
          <section class="govuk-!-margin-bottom-6">
            <h2 class="govuk-heading-l govuk-!-margin-bottom-2">
              {% if service.isBackend %}
                API Gateway {{ urlText }}
              {% else %}
                Service {{ urlText }}
              {% endif %}
            </h2>

            <p>
              {% if service.isBackend %}
                Publicly accessible URL for the service
              {% else %}
                User-friendly custom {{ urlText }}
              {% endif %}
            </p>

            {% if vanityUrls | length == 1 %}
              {% set firstDetail = vanityUrls | first %}

              <ul class="govuk-list govuk-!-margin-0">
                <li>
                  {{ appVanityUrl(firstDetail) }}
                </li>
              </ul>
            {% elseif vanityUrls | length %}
              <dl class="app-description-list">

                {% for environment, items in vanityUrls | groupby('environment') %}
                  <dt class="app-description-list__term">{{ environment | title }}</dt>

                  {% for vanityUrl in items %}
                    <dd class="app-description-list__details">
                      <ul class="govuk-list govuk-!-margin-0">
                        <li>
                          {{ appVanityUrl(vanityUrl) }}
                        </li>
                      </ul>
                    </dd>
                  {% endfor %}
                {% endfor %}

              </dl>
            {% endif %}
          </section>
        {% endif %}

        <section class="govuk-!-margin-bottom-6">
          <h2 class="govuk-heading-l govuk-!-margin-bottom-2">CDP Service URLs</h2>
          <p>
            {% if service.isBackend %}
              Internal access URLs for use between CDP services
            {% else %}
              Internal access URLs for service
            {% endif %}
          </p>

          <dl class="app-description-list">
            {% for serviceUrl in serviceUrls %}
              <dt class="app-description-list__term">{{ serviceUrl.environment | title }}</dt>
              <dd class="app-description-list__details">
                <a class="app-link" href="https://{{ serviceUrl.url }}" target="_blank" rel="noopener noreferrer">
                  https://{{ serviceUrl.url }}
                </a>
              </dd>
            {% else %}
              <dd class="app-description-list__details">
                No internal URLs available
              </dd>
            {% endfor %}
          </dl>
        </section>


        <section class="govuk-!-margin-bottom-6">
          <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Logs</h2>
          <p>
            OpenSearch logs for monitoring and troubleshooting your service
          </p>
          <dl class="app-description-list">
            {% for environment in availableServiceEnvironments %}
              <dt class="app-description-list__term">{{ environment | title }}</dt>
              <dd class="app-description-list__details">
                {{ appLogsDashboardLink({
                  serviceName: service.serviceName,
                  environment: environment
                }) }}
              </dd>
            {% else %}
              <dd class="app-description-list__details">
                No log URLs available
              </dd>
            {% endfor %}
          </dl>
        </section>

        <section>
          <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Metrics</h2>
          <p>
            Grafana observability metrics data and graphs for your service
          </p>
          <dl class="app-description-list">
            {% for environment in availableServiceEnvironments %}
              <dt class="app-description-list__term">{{ environment | title }}</dt>
              <dd class="app-description-list__details">
                <a class="app-link"
                   href="https://metrics.{{ environment }}.cdp-int.defra.cloud/dashboards/f/{{ service.serviceName }}"
                   target="_blank" rel="noopener noreferrer">
                  https://metrics.{{ environment }}.cdp-int.defra.cloud
                </a>
              </dd>
            {% else %}
              <dd class="app-description-list__details">
                No metrics URLs available
              </dd>
            {% endfor %}
          </dl>
        </section>
      </section>
    </aside>
  </div>
{% endblock %}
