{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "tag/macro.njk" import appTag %}

{% if params.status == 'complete' %}
  {{ appTag({ text: 'Complete', classes: "govuk-tag--green" }) }}
{% elseif params.status == 'cancelled' %}
  {{ appTag({ text: 'Cancelled', classes: "govuk-tag--orange" }) }}
{% elseif params.status == 'failed' %}
  {{ appTag({ text: 'Failed', classes: "govuk-tag--red" }) }}
{% else %}
  {{ govukButton({ text: 'Cancel', classes: 'app-button--small govuk-button--warning govuk-!-margin-bottom-0' }) }}
{% endif %}
