{% from "./upload-form/macro.njk" import uploadForm %}
{% from "./upload-progress/macro.njk" import uploadProgress %}


{% if params.uploads and params.uploads.length != 0 %}
  {{ uploadProgress({
    uploads: params.uploads,
    showDone: params.showDone
  }) }}
{% else %}
  {{ uploadForm({
    uploads: params.uploads,
    path: params.path,
    csrfToken: params.csrfToken
  }) }}
{% endif %}
